
/*border: 0.1px;
border-style: solid;*/

body {
	font: 16px Helvetica, Sans-Serif;
	line-height: 20px;
	background: url("http://limboda.ru/p/2/poverhnost_svetlyy_fon_list_4000x3000.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    margin: 5%;
	}

.left-col{
    float: left;
    width: 25%;
    position: fixed;
}

.aside{
    padding: 20px;
}

.right-col{
    float: left;
    width: 75%;
    padding-left: 30%;
}

img {
	border-radius: 5%;
	}